:root {
    --bright-blue: #4A8FE7;
    --egg-blue: #59D2FE;
    --aqua-blue: #44E5E7; 
    --ice-blue: #EAF6FF;
    --zenith: var(--bright-blue);
    --crown-sky: var(--egg-blue);
    --middling-sky: var(--aqua-blue); 
    --bottom-sky: var(--ice-blue);
    --skyblack:  #232528;
    --nightblue: #2A2A72;
    --cornflower:#1E3888;
    --skyblue:   #4A8FE7;
    --violetblue:#8332AC;
    --skypurple: #E086D3;
    --dull-pink: #E5C2C0;
    --mistyrose: #F2D1C9;
    --bright-pink: #FFA0AC;
    --candypink: #DB6C79;
    --tangerine: #F09D58;
}
