:root {
    --bioluminous: #F8FFE5;//rgba(248, 255, 229, opacity)
    --preferred-white: #FDFFFC;//rgba(253,255,252, opacity)
    --translucent: rgba(253,255,252, 0.8);
    --dilute-white: rgba(253,255,252, 0.5);
    --celestial-grey: rgba(191,193,195, 1);
    --yellow: #EDF67D;
    --sun-accent: #FFD400;
}