:root {
    --deep-blue: #1E3888;
    --lake-blue: #387D7A;
    --lake-green: #0D5D56;
    --swamp-green: #339989;
    --lake-main-color: rgba(56, 125, 122,1);
    --lake-accent-color: rgba(74, 143, 231, 0.3);
}